.ProgressBar {
  color: hotpink;
  margin: 1rem;
  padding: 1rem;
  border: dotted 2px pink;
  max-width: 20rem;
  height: auto;
  display: flex;
  flex-direction: column;

  .theProgressbar-Box {
    width: 15rem;
    height: 1rem;
    border: black solid 2px;

    .theProgress {
      background-color: hotpink;
      height: 98%;
      //Transition kommer att utföras när width ändrar värde
      transition: width 1s;
    }
  }

  .checkbox-Box {
    input[type="checkbox"] {
      margin-right: 10px;
      transform: scale(1.5); /* För att göra checkboxen 1.5 gånger större */
    &:hover {
        transform: scale(1.8);/* Gör checkboxen större när man hoovrar över den */
      }}
    label {
      font-size: 20px;
      
    }
  }
  
    
  .reset-btn{
    align-self: center;
    width: 3rem;
    height: 1.5rem;
  }
}

